.contactPageWrapper {
    width: 100%;
    max-height: fit-content;
    background-color: var(--lighter_background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.contactPage {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.formStyling {
    width: 75%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.formDiv {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formInputs {
    border: solid white;
    width: 100%;
    padding: 0.5rem;
}

.message {
    height: 90%;
}

#submit {
    width: 50%;
    height: 2.5rem;
    background-color: var(--green);
    color: var(--lighter_background);
}

.coloredDivs {
    background-color: white;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .contactPage {
        width: 85%;
    }
    .header_sections,
    .num {
        font-size: 1.5rem;
    }
    .formStyling {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .contactPage {
        width: 100%;
    }
    .header_sections {
        justify-content: center;
        width: 100%;
    }
    #submit {
        width: 75%;
    }
    .formStyling {
        width: 100%;
    }
}
